{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.003,\"max_id\":793483570097160192,\"max_id_str\":\"793483570097160192\",\"query\":\"%23python+until%3A2016-01-01\",\"refresh_url\":\"?since_id=793483570097160192&q=%23python%20until%3A2016-01-01&include_entities=1\",\"count\":10,\"since_id\":0,\"since_id_str\":\"0\"}}"
        },
        "headers": {
          "x-access-level": "read",
          "status": "200 OK",
          "x-response-time": "15",
          "x-rate-limit-remaining": "435",
          "x-connection-hash": "c4c73c4b2941402b8a36e5ec143a2b0f",
          "x-twitter-response-tags": "BouncerCompliant",
          "x-rate-limit-limit": "450",
          "last-modified": "Tue, 01 Nov 2016 16:03:19 GMT",
          "content-type": "application/json;charset=utf-8",
          "x-rate-limit-reset": "1478017059",
          "x-transaction": "00de9b790005a742",
          "content-disposition": "attachment; filename=json.json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.twitter.com/1.1/search/tweets.json?until=2016-01-01&count=10&q=%23python"
      },
      "recorded_at": "2016-11-01T16:03:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.twitter.com/1.1/search/tweets.json?until=2016-01-01&count=10&q=%23python"
      }
    },
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.005,\"max_id\":793483578280247296,\"max_id_str\":\"793483578280247296\",\"query\":\"%23python+until%3A2015-05-15\",\"refresh_url\":\"?since_id=793483578280247296&q=%23python%20until%3A2015-05-15&include_entities=1\",\"count\":10,\"since_id\":0,[...]
