{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.004,\"max_id\":793485822497128448,\"max_id_str\":\"793485822497128448\",\"query\":\"%23python+until%3A2016-01-01\",\"refresh_url\":\"?since_id=793485822497128448&q=%23python%20until%3A2016-01-01&include_entities=1\",\"count\":10,\"since_id\":0,\"since_id_str\":\"0\"}}"
        },
        "headers": {
          "x-access-level": "read",
          "status": "200 OK",
          "x-response-time": "18",
          "x-rate-limit-remaining": "418",
          "x-connection-hash": "3c4f965e9d6d4dbe12f4acaf111abe28",
          "x-twitter-response-tags": "BouncerCompliant",
          "x-rate-limit-limit": "450",
          "last-modified": "Tue, 01 Nov 2016 16:12:16 GMT",
          "content-type": "application/json;charset=utf-8",
          "x-rate-limit-reset": "1478017059",
          "x-transaction": "00fcd53a009082b9",
          "content-disposition": "attachment; filename=json.json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.twitter.com/1.1/search/tweets.json?count=10&q=%23python&until=2016-01-01"
      },
      "recorded_at": "2016-11-01T16:12:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.twitter.com/1.1/search/tweets.json?count=10&q=%23python&until=2016-01-01"
      }
    },
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"token_type\":\"bearer\",\"access_token\":\"<TOKEN>\"}"
        },
        "headers": {
          "status": "200 OK",
          "x-response-time": "20",
          "x-twitter-response-tags": "BouncerCompliant",
          "ml": "A",
          "x-connection-hash": "a7a26fb2b110f8399b56de3a07baed1b",
          "last-modified": "Tue, 01 Nov 2016 16:12:18 GMT",
          "content-type": "application/json;charset=utf-8",
          "x-transaction": "0073101400f5db58",
          "content-disposition": "attachment; filename=json.json",
          "x-tsa-request-body-time": "76"
        },
        "url": "https://api.twitter.com/oauth2/token",
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "2016-11-01T16:12:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "Authorization": "<AUTH>"
        },
        "method": "POST",
        "uri": "https://api.twitter.com/oauth2/token"
      }
    },
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.004,\"max_id\":793485831338721280,\"max_id_str\":\"793485831338721280\",\"query\":\"%23python+until%3A2015-05-15\",\"refresh_url\":\"?since_id=793485831338721280&q=%23python%20until%3A2015-05-15&include_entities=1\",\"count\":10,\"since_id[...]
