{
  "recorded_with": "betamax/0.8.0",
  "http_interactions": [
    {
      "response": {
        "url": "https://api.twitter.com/oauth2/token",
        "body": {
          "string": "{\"token_type\":\"bearer\",\"access_token\":\"<TOKEN>\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "x-transaction": "003cf48e00380891",
          "ml": "A",
          "status": "200 OK",
          "content-disposition": "attachment; filename=json.json",
          "x-twitter-response-tags": "BouncerCompliant",
          "content-type": "application/json;charset=utf-8",
          "x-connection-hash": "88a5e5da264615d875721529f675767c",
          "x-tsa-request-body-time": "1",
          "x-response-time": "24",
          "last-modified": "Mon, 31 Oct 2016 15:52:02 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "request": {
        "uri": "https://api.twitter.com/oauth2/token",
        "method": "POST",
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": "<AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        }
      },
      "recorded_at": "2016-10-31T15:52:02"
    },
    {
      "response": {
        "url": "https://api.twitter.com/1.1/search/tweets.json?q=ahoj&count=5",
        "body": {
          "string": "{\"statuses\":[{\"created_at\":\"Mon Oct 31 15:51:28 +0000 2016\",\"id\":793118199730606080,\"id_str\":\"793118199730606080\",\"text\":\"@pecousek  ahoj \\ud83d\\udc40\\ud83d\\udc96\\ud83d\\ude09 https:\\/\\/t.co\\/zqh8Grz4pQ\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"pecousek\",\"name\":\"PECOUCH \\ud83c\\udf40\",\"id\":2175970623,\"id_str\":\"2175970623\",\"indices\":[0,9]}],\"urls\":[],\"media\":[{\"id\":793118160719376384,\"id_str\":\"793118160719376384\",\"indices\":[20,43],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CwG4w9qW8AAXhHe.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CwG4w9qW8AAXhHe.jpg\",\"url\":\"https:\\/\\/t.co\\/zqh8Grz4pQ\",\"display_url\":\"pic.twitter.com\\/zqh8Grz4pQ\",\"expanded_url\":\"https:\\/\\/twitter.com\\/matespospo\\/status\\/793118199730606080\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"large\":{\"w\":810,\"h\":608,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"medium\":{\"w\":810,\"h\":608,\"resize\":\"fit\"},\"small\":{\"w\":680,\"h\":510,\"resize\":\"fit\"}}}]},\"extended_entities\":{\"media\":[{\"id\":793118160719376384,\"id_str\":\"793118160719376384\",\"indices\":[20,43],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CwG4w9qW8AAXhHe.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CwG4w9qW8AAXhHe.jpg\",\"url\":\"https:\\/\\/t.co\\/zqh8Grz4pQ\",\"display_url\":\"pic.twitter.com\\/zqh8Grz4pQ\",\"expanded_url\":\"https:\\/\\/twitter.com\\/matespospo\\/status\\/793118199730606080\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"large\":{\"w\":810,\"h\":608,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"medium\":{\"w\":810,\"h\":608,\"resize\":\"fit\"},\"small\":{\"w\":680,\"h\":510,\"resize\":\"fit\"}}},{\"id\":793118187512557569,\"id_str\":\"793118187512557569\",\"indices\":[20,43],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CwG4yheWcAEZigm.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CwG4yheWcAEZigm.jpg\",\"url\":\"https:\\/\\/t.co\\/zqh8Grz4pQ\",\"display_url\":\"pic.twitter.com\\/zqh8Grz4pQ\",\"expanded_url\":\"https:\\/\\/twitter.com\\/matespospo\\/status\\/793118199730606080\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"large\":{\"w\":590,\"h\":428,\"resize\":\"fit\"},\"small\":{\"w\":590,\"h\":428,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"medium\":{\"w\":590,\"h\":428,\"resize\":\"fit\"}}}]},\"metadata\":{\"iso_language_code\":\"es\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":2175970623,\"in_reply_to_user_id_str\":\"2175970623\",\"in_reply_to_screen_name\":\"pecousek\",\"user\":{\"id\":4846674057,\"id_str\":\"4846674057\",\"name\":\"Martin\",\"screen_name\":\"matespospo\",\"location\":\"\\u0160umperk, \\u010cesk\\u00e1 republika\",\"description\":\"Life is the most precious thing we have ! respect ,love and peace, must forever  prevail \\u270c\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3145,\"friends_count\":4055,\"listed_count\":47,\"created_at\":\"Mon Jan 25 20:18:26 +0000 2016\",\"favourites_count\":21133,\"utc_offset\":-25200,\"time_zone\":\"Pacific Time (US & Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":24727,\"lang\":\"cs\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme18\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme18\\/bg.gif\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/761642596133433345\\/Pt1Nx_53_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/761642596133433345\\/Pt1Nx_53_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/4846674057\\/1475763748\",\"profile_link_color\":\"1B95E0\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":false,\"has_extended_profile\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"es\"},{\"created_at\":\"Mon Oct 31 15:50:05 +0000 2016\",\"id\":793117850990936066,\"id_str\":\"793117850990936066\",\"text\":\"@papaymona ahoj \\ud83d\\udc40\\ud83d\\udc96\\ud83d\\ude09 https:\\/\\/t.co\\/m2pvjRBJuc\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"papaymona\",\"name\":\"Monika\",\"id\":411727312,\"id_str\":\"411727312\",\"indices\":[0,10]}],\"urls\":[],\"media\":[{\"id\":793117760154894336,\"id_str\":\"793[...]
